@import url('./spacing.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-select h4 {
  color: grey;
}

body {
  background-color: #f1f1f1;
}

/* colors */
.bg-purple {
  background: purple;
}

.bg-orange {
  background: orange;
}

.bg-green {
  background: green;
}

.bg-icon {
  background: gainsboro;
}

.text-gray {
  color: gainsboro;
  padding-right: 1px;
}
/* End of background */

/* Icon styles */
.icon-dot {
  width: 7px;
  margin-right: 5px;
  height: 7px;
  display: inline-block;
  align-items: center;
  border-radius: 50%;
}

.icon-2x {
  width: 15px;
  height: 15px;
}
/*  Icon style */

/* Button styles */
.button {
  border-radius: 5px;
  color: blue;
  border: none;
  background: #dfe7ec;
  padding: 8px 12px;
}
/* End Button */

.total-msg {
  margin-left: 10px;
}

.onboarding {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
}

.consult, .page {
  width: 100%;
}

.feedback {
  color: aliceblue;
  width: 20%;
  background-image:linear-gradient( to right,rgb(41, 130, 207), purple, rgb(255, 153, 0)) ;
  border-radius: 5px;
  font-family: sans-serif;
  font-size:large;
  padding-left: 25px;
  margin-bottom: 15px;
}

.feedback h3 {
  padding-bottom: 10px;
  padding-top: 25px;
}

.feedback p {
  padding-bottom: 10px;
}

.list {
  height: 150px;
  width: 20%;
  border-radius: 5px;
  font-family: sans-serif;
  background-color: aliceblue;
}


.suggest i {
  padding-top: 10px;
}

.suggest h4 {
  padding-top: 10px;
}


.page section {
  background: aliceblue;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.header-page button {
  border-radius: 5px;
  color: white;
  border: none;
  background: purple;
  padding: 12px 28px;
}

.suggest {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-around;
  flex-grow: 1;
  padding-bottom: 10px;
}

.page .header-page {
  background: black;
  display: flex;
  flex-direction: column;
}

select {
  margin-top: 10px;
  color: white;
  border: 1px black;
  background: black;
}


.custom-select {
  display: flex;
  justify-content: flex-start;
}

.consult section {
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  width: 100%;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-radius: 5px;
  padding-left: 25px;
  margin-left: 10px;
  margin-bottom: 15px;
  width: 100%;
  background-color: aliceblue;
}
  
#customers td, #customers th {
  padding: 8px;
}


#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  border: 0;
  padding: 5px;
}

tr .h-tag{
  padding-left: 20px;
}

td {
  color: grey;
  padding-left: 30px;
}

#view {
  color: blue;
}

.solution {
  display: flex;
} 
.solution i {
  padding: 8px;
  padding-left: 20px;
}

.arrow {
  background: white;
  height: 60px;
  border-radius: 5px;
  width: 53px;
}

.arrow h4 {
  padding-left: 11px;
}

.main {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.section {
  display: flex;
  justify-content: center;
}

.tags {
  display: flex;
  justify-content: space-between;
}

/* Apply styling on the desktop and large */
@media (min-width: 768px) {
  .onboarding {
    width: 70%;
    flex-direction: row;
    margin: auto;
  }

  .consult {
    width: 30%;
  }
  
  .page {
    width: 80%;
    padding-left: 20px;
  }

  .page .header-page {
    flex-direction: row;
  }
  
  .suggest {
    flex-direction: row;
  }
}


/* Apply styling on the desktop and large */
@media (max-width: 992px) {
  .onboarding {
    width: 95%;
  }
}
